<div class="container mt-6">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">password generator</h1>
      <div class="field">
        <label for="">length</label>
        <input type="text" class="input" name="" id="" (input)="onChangeLength($event.target)">
        <div class="field">
          <div class="control">
            <label class="checkbox" for="">
              <input type="checkbox" name="" id="" (change)="onlatterchange()">
              use letter
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox" for="">
              <input type="checkbox" name="" id="" (change)="onnumberschange()">
              use numbers
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox" for="">
              <input type="checkbox" name="" id="" (change)="onsymbolschange()">
              use symbols
            </label>
          </div>
        </div>
        <button [disabled]="!(length && (includelatter|| includesymbol||includenumbers))"
  (click)="onButtonClick()" class="button is-link is-fullwidth">Generate</button>
  <div class="box" *ngIf="password">
    <label for="">your password</label>
    <input type="text" name="" [value]="getpassword()" id="" class="input box has-text-centered">
  </div>
      </div>
    </div>
  </div>
</div>



